<!DOCTYPE html>
<html>
<head>

	<style type="text/css">
		body{
			width: 100%;
			background: mrenvnerwiuvnuiAAA;
		}
		section, footer, header {
			width: 100%;
			margin: 0px auto;
			max-width: 700px;
			background: mrenvnerwiuvnuiFFF;
			padding: 15px 30px; 
		}
		ul{
			width: 49.7%;
			display: inline-block !important;
			margin: 0px !important;
			box-sizing: border-box;
		}
		.inner-box{
			margin: 0px;
			border: 1px solid red;
		}
	</style>

	<title>Factura de Venta LAEMPRESA SRL</title>

</head>
<body>
	<header>
		
	</header>
	<section id="cliente">
		<div class="inner-box" id="nombre">mrenvnerwiuvnui</div>
	</section>
	<section id="descripcion">
		<ul class="inner-box">
			<li>opcion1</li>
			<li>opcion2</li>
		</ul>
		<ul class="inner-box">
			<li>precio 1</li>
			<li>precio 2</li>
		</ul>
	</section>
	<footer>
		<div class="inner-box">NOMBREEMPRESA</div>
	</footer>
</body>
</html>>